body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color:rgb(13, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #2e004f;
  color: rgb(190, 208, 29);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h1 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #30a9a7;
}

.timer {
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.labels {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color:#30a9a7;
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#startPauseBtn {
  background-color: #93ea22;
  color: white;
}

#startPauseBtn:hover {
  background-color: #93ea22;
}

#resetBtn {
  background-color: #93ea22;
  color: white;
}

#resetBtn:hover {
  background-color: #93ea22;
}
